.major,
.min {
  letter-spacing: 1.4rem;
}

.major {
  padding-top: 90px;
}

.best {
  background: #2f9264;
  min-height: 90vh;
}

.best-i {
  max-width: 30rem;
  padding: 2.2rem 2.5rem;
}
.containers {
  margin-top: -80px;
  background: #2f9264;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.world-heading {
  font-family: serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.p-text {
  color: #000;
  line-height: 25px;
}
.best-world {
  background-color: #f8f9fa;
  margin: 10px;
}
.links {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: #f8f9fa;
  text-transform: uppercase;
  border: 1px solid #2f9264;
  font-weight: bold;
  color: #0dcaf0;
  border-radius: 3px;
}
.links:hover {
  background-color: #0dcaf0;
  color: #000;
}
.visit {
  grid-column: span 3;
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
}
.img-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}
.img-text {
  color: #212529;
}
.img-text p:first-child {
  color: #19877f;
  font-size: 1rem;
}

.img-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.img-links a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #198754;
  position: absolute;
  left: 40%;
  border-radius: 5px;
}
.img-links a:hover {
  background-color: #198754;
  color: #000;
}
.testimony {
  background-color: #39986c;
  min-height: 90vh;
  margin-top: 50px;
}
.test-head {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: white;
  padding-top: 40px;
}

.testimony-slide {
  display: flex;
}
